//Needed for anything that is to push below navbar

.bumpdown-contact {
  padding-top: 3.5rem;
  //margin-top: 3.5rem;
}

.bumpup {
  padding-bottom: 3.5rem;
}

$navbar-dark-color: rgba(white, 0.75);
$navbar-dark-hover-color: rgba(black, 0.75);
$navbar-dark-active-color: #f7882f;
$navbar-dark-disabled-color: rgba(white, 0.25);
$navbar-dark-toggler-border-color: rgba(white, 0.1);

$navbar-light-color: rgba(black, 0.5);
$navbar-light-hover-color: rgba(black, 0.7);
$navbar-light-active-color: #f7882f;
$navbar-light-disabled-color: rgba(black, 0.3);
$navbar-light-toggler-border-color: rgba(black, 0.1);

$navbar-light-brand-color: rgba(black, 0.7);
$navbar-light-brand-hover-color: rgba(black, 0.7);
$navbar-dark-brand-color: rgba(white, 1);
$navbar-dark-brand-hover-color: rgba(white, 1);

// .nav-item {
//   font-size: 1rem * 1.25;
// }
