#about-cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)),
    url("../images/hero/hero-garden.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  min-height: 60vh;
}

ul {
  list-style-type: circle;
}

.card-body > ul {
  list-style-type: circle;
  padding: 10px;
}

.about-card-header.card-header {
  background: rgba(247, 136, 47, 1);
  color: white;
  border: 0px;
}
