#career-cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../images/how-i-can-help/shoots.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  min-height: 60vh;
}

.mobile-header {
  text-align: center;
}
