.contact-background {
  background: rgba(239, 239, 239, 0.5);
}

.contact-icons {
  .contact-icons-item {
    max-width: 20rem;
    .contact-icons-icon {
      height: 5rem;
      i {
        font-size: 3rem;
      }
    }
    &:hover {
      .contact-icons-icon {
        i {
          font-size: 3.5rem;
        }
      }
    }
  }
}
